/* Inicio de interfaz no visible */
.logo{
  text-align: center;
  padding: 0vh 0 5vh 0;
}
.interfaz-no-visible {
  width: 200px;
  height: 100vh;
  background-color: #1B50A6;
  color: white;
  display:none;
}
.foto-perfil{
  margin-bottom: 5vh;
}
.foto-perfil img{
  margin-left: 8px;
  width: 50px;
  height: 50px;
  padding: 5px;
  border-radius: 50%;
  background-color: white;
}
.foto-perfil label{
  margin-left: 8px;
}
hr {
  background-color: white;
  height: 0.05px;
}
.lista-acciones a{
  display: block;
  padding: 1vh;
  color: white;
}
/* Final de interfaz */

/* Inicio de header */
