<!-- inicia de interfaz no visible -->
<div class="interfaz-no-visible">
<div class="logo">
  <img src="" alt="">
  <h2>Proyecto</h2>
</div>
<div class="foto-perfil">
  <img src="../../../assets/imagenes/1200px-User_font_awesome.svg.png" alt="">
  <label for="">Alberto Rodrigrez</label>
</div>
<hr>
<div class="lista-acciones">

  <a href="">
    <i class="fas fa-home"></i> Principal
  </a>
  <a href="">
    <i class="fas fa-portrait"></i> Crear Cliente
  </a>
  <a href="">
    <i class="fas fa-user-edit"></i>  Modificacion Ficha Cliente
  </a>
  <a href="">
    <i class="fas fa-chart-bar"></i> Definicion Planes
  </a>
</div>
</div>
<!-- Final de interfaz -->
<div class="header">

</div>
